<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<H1>DVDStore : LA boutique de DVD en ligne</H1>
<p>
    <a href="add-movie-form">Ajouter un film</a>
</p>
<section class="container">
    <div class="left-half">
        <article id="movie-list">

        </article>
    </div>
    <div class="right-half">
        <article id="movie-detail">

        </article>
    </div>
</section>
<script th:src="@{/js/script.js}"></script>
</body>
</html>